<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描包：controller -->
    <context:component-scan base-package="com.demo.controller"/>
    <!-- 注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 静态资源过滤 -->
    <mvc:default-servlet-handler/>
    <mvc:resources mapping="/editor/**" location="/static/editor/"/>
    <mvc:resources mapping="/editor/css/**" location="/static/editor/css/"/>
    <mvc:resources mapping="/editor/lib/**" location="/static/editor/lib/"/>
    <mvc:resources mapping="/editor/fonts/**" location="/static/editor/fonts/"/>

    <mvc:resources mapping="/bootstrap/css/**" location="/static/vendor/bootstrap/css/"/>
    <mvc:resources mapping="/bootstrap/font/**" location="/static/vendor/bootstrap/font/"/>
    <mvc:resources mapping="/bootstrap/js/**" location="/static/vendor/bootstrap/js/"/>
    <mvc:resources mapping="/jquery/js/**" location="/static/vendor/jquery/js/"/>

    <mvc:resources mapping="/js/**" location="/static/js/"/>
    <mvc:resources mapping="/css/**" location="/static/css/"/>

    <mvc:resources mapping="/api/resource/images/**" location="/WEB-INF/mediae/images/"/>

    <!--自定义消息转化器的编码-->
<!--    <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">-->
<!--        <constructor-arg value="UTF-8"/>-->
<!--    </bean>-->

<!--    视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/view/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!-- 文件上传的解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 编码格式 -->
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 配置上传文件的大小，以字节为单位；-1代表没有限制 -->
        <property name="maxUploadSize" value="-1"/>
    </bean>

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 拦截所有mvc控制器 -->
            <mvc:mapping path="/web/**"/>
            <mvc:exclude-mapping path="/web/passport/**" />
            <bean class="com.demo.interceptor.AuthorityInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>