<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <title>Dashboard</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">VMBLOG Dashboard</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="nav px-3 ">
        <a class="nav-link text-light" href="#">Profile</a>
        <a class="nav-link text-light" href="#">Sign Out</a>
    </nav>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a id="information-link" class="nav-link" onclick="selectItem(this)" href="information">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="article-link" class="nav-link" onclick="selectItem(this)" href="article">
                            Article
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="category-link" class="nav-link active" onclick="selectItem(this)" href="category">
                            Category
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="comment-link" class="nav-link" onclick="selectItem(this)" href="comment">
                            Comment
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved functions</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Setting
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div id="information-box" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Category</h1>
            </div>
        </main>
    </div>
</div>


<script type="text/javascript" src="/jquery/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
<!--<script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.js"></script>-->
<script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>
