<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="/codemirror/lib/codemirror.css">
  <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/codemirror/theme/monokai.css">
  <link type="text/css" rel="stylesheet" href="/css/navbar-page.css">
  <title>Title</title>
</head>
<body>
<!--NavBar Model-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">VM-Blog</a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="coding">Coding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="chet">Chet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <textarea id="code" name="code"></textarea>
    </div>
  </div>
</div>
<script type="text/javascript" src="/jquery/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="/codemirror/mode/clike/clike.js"></script>
<script type="text/javascript" src="/codemirror/addon/selection/active-line.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: '/coding/loadingPattern',
            data: {'codeType': 'cpp'},
            type: 'get',
            dataType: 'text',
            success:function (data) {
                $('#code').html(data);
            }
        })
    })
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        // mode: "text/x-c++src",    //实现groovy代码高亮
        mode: "text/x-c++src", //实现Java代码高亮
        theme: "monokai",	//设置主题
        lineNumbers: true,	//显示行号
        // indentUnit: 4, //缩进单位

        styleActiveLine: true,
        lineWrapping: true,	//代码折叠
        // foldGutter: true,
        extraKeys: {"Ctrl": "autocomplete"},//ctrl可以弹出选择项
        // gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
        matchBrackets: true,	//括号匹配
        //readOnly: true,        //只读
    });
    editor.setSize(null, '600px');
</script>
</body>
</html>